@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Heebo;
}
/*  style header  */
.wrapper {
  min-width: 100%;
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: linear-gradient(#9fa3a6, #9c9cc3);
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  height: 70px;
  z-index: 100;
}
.header__logo {
  width: 40px;
  height: 40px;

  background-color: #d3caca;
  border-radius: 50%;
  z-index: 5;
  position: relative;
}
.menu__list {
  position: relative;
}
.menu__list > li {
  margin-right: 50px;
}
.menu__list > li:last-child {
  margin-right: 0px;
}
.menu__link {
  font-size: 20px;
  color: #fff;
  font-family: Heebo;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu__arrow {
  display: none;
}
.menu__sub-list {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  top: 80%;
  padding: 15px;
  min-width: 210px;
  text-align: center;
  border-radius: 5px;
}
.menu__sub-list > li {
  margin-bottom: 10px;
}
.menu__sub-list > li:last-child {
  margin-bottom: 0px;
}
.menu__sub-link {
  color: #fff;
  font-size: 20px;
  font-family: Heebo;
  cursor: pointer;
  letter-spacing: 2px;
}
.menu__icon {
  display: none;
}
/*-------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  border-radius: 5px;
}
body._touch .menu__arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  margin: 0px 0px 0px 5px;
  display: block;
  transition: transform 0.3s ease 0s;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__list > li._active .menu__sub-list {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}
body._touch .menu__link {
  flex: 1 1 auto;
}
/*-------------------*/
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .menu__list > li {
    padding: 10px 0px;
  }
  .menu__sub-list {
    transform: translate(0px, 15%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 767px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #000;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.menu__icon::after {
    bottom: 0;
  }

  .menu__icon._active > span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 196, 196, 0.6);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    margin: 0px 0px 20px 0px;
    flex-wrap: wrap;
  }
  .menu__list > li:last-child {
    margin: 0px 0px 0px 0px;
  }
  .menu__link {
    font-size: 24px;
    color: #292828;
  }
  body._touch .menu__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #292828;
    margin: 0px 0px 0px 5px;
    display: block;
    transition: transform 0.3s ease 0s;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__sub-list {
    flex: 1 1 100%;
    position: relative;
    margin: 20px 0px 0px 0px;
    display: none;
    transition: all 0.3s ease 0s;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #292828;
  }
}

/* dropdown button */
.profile__dropdown {
  position: relative;
}
.profile__dropdown__btn {
  width: 150px;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.profile__dropdown__btn:hover {
  color: #fff;
}
.profile__dropdown__btn span {
  color: #fff;
}
.profile__dropdown__btn span i {
  margin-left: 2px;
}
.profile__img {
  position: relative;
  background: url("../img/subjects/bioanatomy.jpg");
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50px;
}
.profile__img i {
  position: absolute;
  right: 0;
  color: rgb(88, 215, 88);
  bottom: 0.3rem;
  font-size: 0.7rem;
}
.profile__dropdown__list {
  position: absolute;
  top: 68px;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease 0s;
}
.profile__dropdown__list._active-dropmenu {
  max-height: 500px;
}
.profile__dropdown__item {
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: pointer;
}
.profile__dropdown__item a {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2px;
}
.profile__dropdown__item a i {
  margin-right: 5px;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 1.5rem;
}
@media (max-width: 767px) {
  .profile__dropdown span {
    color: #000;
  }

  .profile__dropdown__item a {
    color: #000;
  }
}
/* dropdown button */

/* style contentlist*/
.caorusel {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.caorusel .caorusel__item {
  position: absolute;
  inset: 0;
}
.caorusel .caorusel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.caorusel .caorusel__content {
  position: absolute;
  top: 20%;
  left: 50%;
  padding-right: 30%;
  transform: translateX(-50%);
  width: 1140px;
  max-width: 80%;
  color: #fff;
  text-shadow: 0 5px 10px #000;
}
.caorusel .caorusel__title {
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0 5px 6px #fff;
  letter-spacing: 10px;
  color: #fff;
  line-height: 1.3em;
}
.caorusel .caorusel__description {
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.caorusel .caorusel__button .button {
  padding: 10px 25px;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-shadow: 0 5px 10px #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.caorusel .caorusel__button .button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  text-shadow: 0 5px 5px #858282;
}
.caorusel .caorusel__item:nth-child(1) {
  z-index: 1;
}
.caorusel__item:nth-child(1) .caorusel__title,
.caorusel__item:nth-child(1) .caorusel__description,
.caorusel__item:nth-child(1) .caorusel__button .button {
  filter: blur(20px);
  transform: translateY(50px);
  opacity: 0;
  animation: showContent 0.5s linear 1s forwards;
}
@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.caorusel__item:nth-child(1) .caorusel__title {
  animation-delay: 0.4s;
}
.caorusel__item:nth-child(1) .caorusel__description {
  animation-delay: 0.6s;
}
.caorusel__item:nth-child(1) .caorusel__button .button {
  animation-delay: 0.8s;
}
@media (max-width: 767px) {
  .caorusel__content {
    padding-right: 0;
  }
  .caorusel .caorusel__title {
    font-size: 30px;
  }
}
.thumbnail__list {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  width: max-content;
  gap: 20px;
  z-index: 100;
}
.thumbnail__item {
  width: 180px;
  height: 250px;
  position: relative;
  flex-shrink: 0;
}
.thumbnail__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail__item:nth-of-type(2) {
  opacity: 0.8;
}
.thumbnail__item:nth-of-type(3) {
  opacity: 0.6;
}
.thumbnail__item:nth-of-type(4) {
  opacity: 0.4;
}
.caorusel._next .caorusel__item:nth-child(1) img {
  width: 180px;
  height: 250px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}
.caorusel._next .thumbnail__list {
  transform: translateX(180px);
  animation: transformThumbnail 0.5 s linear 1 forwards;
}
@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}
@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
/* style contentlist*/

/* Subjects list */
section {
  position: relative;
  top: 100px;
  margin: 0 80px;
  transition: 0.5s;
}
.main-container {
  position: relative;
}
.tab-nav-bar {
  position: relative;
  margin: 65px 10px 40px 10px;
}
.tab-navigation {
  max-width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}
.tab-nav-list {
  list-style-type: none;
  max-width: 800px;
  background-color: #434354;
  border-radius: 50px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid #434354;
  box-shadow: 0 8px 32px rgba(45, 119, 124, 0.37);
  overflow-x: auto;
  user-select: none;
  scroll-behavior: smooth;
}
.tab-nav-list::-webkit-scrollbar {
  display: none; /* скрываем scroll bar */
}
.tab-nav-item {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 3px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s ease;
  text-transform: uppercase;
}
.tab-nav-item:hover {
  background-color: #2e2e41;
}
.tab-nav-item-active {
  background-color: #5b85ff;
}
.left-btn,
.right-btn {
  position: absolute;
  padding: 20px;
  cursor: pointer;
  font-size: 2em;
  color: #fff;
}
.left-btn {
  left: 0;
  background: linear-gradient(to left, transparent, #2e2e41);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: none;
}
.right-btn {
  right: 0;
  background: linear-gradient(to right, transparent, #2e2e41);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.tabcontent-description {
  position: absolute;
  left: 0;
  top: 0;
  width: 550px;
  height: 260px;
  background: rgba(213, 211, 209, 0.8);
  z-index: 1;
  position: relative;
  left: 800px;
  bottom: 150px;
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.tab-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.tab {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  max-width: 1200px;
  padding: 15px 50px;
  content-visibility: hidden;
  transform: translateX(25px);
  opacity: 0;
}
.tab._active-tab {
  transform: translateX(0);
  content-visibility: visible;
  opacity: 1;
  transition: 1s ease;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  gap: 30px;
}
.tab .img-card {
  position: relative;
  width: auto;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
.tab-img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 20px;
}
.right-column {
  max-width: 800px;
}
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  left: 30px;
}
.info-icon {
  width: 35px;
  height: 35px;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .main-containe {
    margin: 0px 0px;
  }
  .tab-nav-bar {
    margin: 65px 20px 40px 25px;
  }
  .tab {
    padding: 10px 25px;
  }
  .tab .row {
    flex-direction: column;
  }
  .info {
    flex-direction: row;
    left: 0;
    text-align: center;
  }
  .info-icon {
    margin-right: 30px;
  }
  .tab .img-card {
    width: auto;
    max-width: 600px;
  }
  .title-subject {
    font-size: 10vw;
    padding-bottom: 50px;
  }
}
/* Subjects list   */

/* Registration   */
.wrapper__register {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1f1f47;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.form {
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(45, 119, 124, 0.37);
  right: 200px;
}
@media (max-width: 500px) {
  .form {
    height: auto;
    padding: 15px;
    right: 120px;
  }
}
@media (max-width: 500px) {
  .form {
    padding: 10px;
    right: 60px;
  }
}
.login__title {
  font-size: 2em;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.input__box {
  margin-bottom: 30px;
  width: 320px;
  border-bottom: 2px solid #fff;
  position: relative;
}
.input__box .icon {
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 1.5em;
  line-height: 55px;
}
.input__box input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 45px;
  font-size: 1em;
  padding: 0 30px 0 5px;
  color: #fff;
}
.input__box input::placeholder {
  color: #fff;
  letter-spacing: 2px;
}
.remember__forgot {
  display: flex;
  justify-content: space-between;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.remember__forgot a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
}
.remember__forgot a:hover {
  text-decoration: underline;
}
.remember__forgot label input {
  margin-right: 5px;
  accent-color: rgb(163, 213, 112);
}
.wrapper__register button {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background-color: rgb(215, 174, 218);
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  cursor: pointer;
}
.blob {
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255, 0.42) 31.77%,
    #5c9df1 100%
  );
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transform: translate(-100px, -50px) rotate(-90deg);
  transition: 1s;
  transition: 1 cubic-bezier(0.07, 0.8, 0.16, 1);
  animation: animatedBlob 10s infinite alternate;
}
.registration__list {
  margin: 20px 0 10px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
}
.registration__list .registration__link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: bold;
}
.registration__list .registration__link:hover {
  text-decoration: underline;
}
@keyframes animatedBlob {
  100% {
    transform: translate(300px, 50px) rotate(-10deg);
    border-radius: 83% 17% 65% 35% / 64% 71% 29% 36%;
  }
}

@media (max-width: 1200px) {
  .blob {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 555px) {
  .blob {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 400px) {
  .blob {
    width: 200px;
    height: 200px;
  }
}
/* style for addpost pages */
.post-container {
  font-family: "Roboto", sans-serif; /* Изменен шрифт на более современный */
  background: linear-gradient(135deg, #f06, #ff9); /* Плавный градиент */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.post-content {
  background-color: rgba(255, 255, 255, 0.95); /* Легкая прозрачность */
  border-radius: 15px; /* Более сглаженные углы */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Более глубокая тень */
  padding: 40px; /* Увеличены отступы */
  max-width: 600px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.post-container:hover {
  transform: translateY(-10px); /* Эффект приподнимания при наведении */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.post-title {
  font-size: 2.5rem; /* Увеличен размер заголовка */
  margin-bottom: 25px;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  width: 100%;
  padding: 15px; /* Увеличены отступы */
  border-radius: 10px; /* Сильнее округлены углы */
  border: 2px solid #ccc;
  margin-bottom: 20px;
  font-size: 1.1rem; /* Чуть увеличен шрифт */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавлена тень */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2); /* Подсвечивается при фокусе */
  outline: none;
}
.form-post {
  width: 100%;
}
#submit-post {
  padding: 12px 24px; /* Увеличены отступы */
  border: none;
  border-radius: 25px; /* Сильнее закруглены углы */
  background-color: #ff4081; /* Яркий градиентный цвет */
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 64, 129, 0.3); /* Яркая тень */
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}
#submit-post:hover {
  background-color: #e91e63;
  box-shadow: 0 6px 12px rgba(233, 30, 99, 0.4);
  transform: translateY(-2px); /* Легкий эффект приподнимания */
}

#submit-post:active {
  transform: translateY(1px); /* Эффект нажатия */
}

.post-info {
  margin-top: 30px;
  color: #333;
}

.view-comments {
  display: block;
  color: #007bff;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.view-comments:hover {
  color: #0056b3;
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .post-container {
    padding: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  textarea {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .post-container {
    padding: 20px;
    max-width: 100%;
  }
  h1 {
    font-size: 1.8rem;
  }
  textarea {
    font-size: 0.9rem;
  }
  button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
/* style for addpost pages */

/* Comments list */
.comments-container {
  background-color: #6e83ca;
  height: 100vh;
  padding: 20px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}
.comment-section {
  max-width: 700px;
  background-color: #fff;
  position: relative;
  top: 135px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.toggle-comments-btn {
  padding: 4px 4px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 5px;
}
.toggle-comments-btn:hover {
  background-color: #e0e0e0;
}
.comment {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fafafa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.comment-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}
.comment-actions {
  display: flex;
  gap: 15px;
}
.comment-actions button {
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  /* background-color: #f0f0f0; */
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease box-shadow 0.3s ease;
}
.comment-actions button:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.comment-actions .like-btn:hover {
  background-color: blue;
  color: #fff;
}
.comment-actions .dislike-btn:hover {
  background-color: red;
  color: #fff;
}
.comment-note {
  font-size: 0.8rem;
  color: #777;
  font-weight: bold;
}
.comment-note span {
  font-size: 0.7rem;
  font-weight: normal;
}
.dots {
  display: none;
}

.close-btn {
  cursor: pointer;
  color: red;
  display: none;
  margin-top: 5px;
}

.add-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.add-comment textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.add-comment textarea:focus {
  border-color: #007bff;
  outline: none;
}

.add-comment button {
  align-self: flex-end;
  border: none;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.add-comment button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
.add-comment button:active {
  transform: translateY(0);
}

.replies {
  margin-top: 10px;
  margin-left: 30px;
  border-left: 3px solid #ddd;
  padding-left: 15px;
}

.hidden {
  display: none;
}

.edit-post-btn {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transform: translateY(2px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.edit-post-btn:hover {
  background-color: #45a049; /* Цвет при наведении */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}
.edit-post-btn:active {
  background-color: #3e8e41; /* Цвет при нажатии */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Тень при нажатии */
  transform: translateY(1px); /* Легкий эффект нажатия */
}
.edit-post-btn:focus {
  outline: none; /* Убираем стандартный контур */
  box-shadow: 0px 0px 4px rgba(72, 187, 120, 0.8); /* Подсвечиваем контур фокусом */
}

@media (max-width: 768px) {
  .comment-section {
    padding: 15px;
  }
  .comment {
    padding: 10px;
  }
  .comment .comment-text {
    font-size: 1.2rem;
  }
  .comment-actions button {
    padding: 4px 8px;
  }
}
@media (max-width: 480px) {
  .comment-section {
    padding: 10px;
  }
  .comment-actions {
    display: none;
    gap: 10px;
  }
  .comment-actions button {
    padding: 3px 7px;
  }
  .dots {
    display: inline-block;
  }

  .show-actions .dots {
    display: none;
  }
  .show-actions .comment-actions {
    display: flex;
  }
  .show-actions .close-btn {
    display: inline-block;
  }
}

/* Comments list */
